//colors & imports
/* #fffccf */
$primary-color: #000000;
$secondary-color: #87f1ff;
$show-home-image: true;
$home-image: url(../img/bookb.jpg);
$sub-image: url(../img/sub.jpeg);
$background-opacity: 0.3;
$header-image: url(img/sih.png);
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

#sub {
  background: $sub-image;
  background-attachment: fixed;
  background-size: cover;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($primary-color, $background-opacity);
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
