//Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 40px;
  cursor: pointer;
  @include easeOut;

  //nav button
  .btn-line {
    border-radius: 10px;
    width: 25px;
    height: 4px;
    margin: 0 0 3px 0;
    background: #fff;
    @include easeOut;

    &:hover {
    }
  }

  // Rotate Into X With hMenu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Line 1 - Rotate
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 1 - Rotates
      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -5px);
      }
    }
  }
}

//Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: ($primary-color, 7);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  &-branding {
    background: none;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/me.png");
      border-radius: 50%;
      border: none;
      background-size: 290px;
      background-color: rgba(black, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
    .hi {
      /*   margin-top: 100px
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: black; */
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    width: 100%;
    height: 60px;
    text-shadow: -2px 2px 2px black;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 25px 50px 58px 50px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-decoration: none;
    @include easeOut;
  }
  .nav-link:hover {
    @include easeOut;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid $secondary-color;
    color: $secondary-color;
    font-weight: 200;
    margin-top: -5px;
    font-size: 30px;
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
