.preloader {
  position: fixed;
  z-index: 10;
  height: 100vh;
  stroke: rgba($secondary-color, 0.5);
  .polymorph {
    stroke-width: 0.1px;

    fill: rgba(black, 0.5);
    /* filter: url(#glow); */
  }
}
/* #cta {
  position: absolute;
} */
.spinner {
  z-index: 11;
  width: 200px;
  margin-left: -100px;
  transform-origin: center;
  height: 130px !important;
  display: inline-block;
  left: 50%;
  transform: translateX(-100px);
  top: 36.1%;
  position: absolute;
  fill: $secondary-color;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  filter: url(#glow);
}

.circle {
  transform-origin: center;
  z-index: 13;
  width: 200px;
  margin-left: -100px;
  height: 100px !important;
  display: inline-block;
  left: 50%;
  top: 38%;
  transform: translateX(-90px);
  border-radius: 1000px;
  position: absolute;
  fill: $secondary-color;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}
.shadow {
  transform-origin: center;
  z-index: 10;
  margin-left: -50px;
  width: 100px;
  height: 100px !important;
  display: inline-block;
  left: 50%;
  top: 38%;
  box-shadow: 0 0 2px $secondary-color, inset 0 0 3px $secondary-color;
  border-radius: 1000px;
  position: absolute;
}

.loading {
  height: 1px;
  transform-origin: top;
  font-size: 20px;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 20;
  letter-spacing: 5px;
  position: absolute;
  top: 52%;
  text-shadow: 1px 1px 4px black;
  left: 50%;

  margin-right: 56px;
  margin-left: -56px;
}
